# Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [13]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
pd.Series("Konark")

0    Konark
dtype: object

In [17]:
pd.Series(data=list("Konark"))

0    K
1    o
2    n
3    a
4    r
5    k
dtype: object

In [18]:
seria_1 = pd.Series([1,2,3,4],['USA','India','England','Japan'])

In [19]:
seria_1

USA        1
India      2
England    3
Japan      4
dtype: int64

In [20]:
seria_2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])

In [21]:
seria_1['USA']

1

In [22]:
seria_1[1]

2

In [23]:
seria_3 = pd.Series(data=labels)

In [24]:
seria_3

0    a
1    b
2    c
dtype: object

In [27]:
seria_3[0]

'a'

In [28]:
seria_1+seria_2

England    NaN
Germany    NaN
India      NaN
Italy      NaN
Japan      8.0
USA        2.0
dtype: float64